body {
  width: 100%;
  height: 100vh;
}

#wrap {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-120deg, #42137c, #170a3d);
  position: relative;
  padding: 88px 16px 8px 16px;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

#wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #42137c;
}

#wrap::-webkit-scrollbar {
  width: 6px;
  background-color: #1bb1e7;
}

#wrap::-webkit-scrollbar-thumb {
  background-color: #1bb1e7;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  padding: 8px 32px;
  background-color: #333;
  z-index: 20;
  color: #1bb1e7;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

header > div {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding-right: 16px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.02em;
}
header img{
  height: 100%;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100px;
  height: calc(100vh - 60px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 16px;
  animation: load 0.6s 0.3s both;
  opacity: 0;
  z-index: 5;
}

@keyframes load {
  from {
    transform: translateX(-120px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#wrap nav li,
header > .logOutBtn {
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  margin: 0 auto;
  margin-top: 24px;
  border-radius: 15px;
  cursor: pointer;
  border: 2px dashed #fff;
  transition: all 0.2s;
  background-size: 30px;
}

#wrap nav li:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  background-size: 40px;
}

#wrap nav li.on {
  background-color: #fff;
}

#wrap nav li:hover,
.logOutBtn:hover {
  animation: jelly 0.3s both;
}

nav li:nth-child(1) {
  background: url(../img/icon2_3.png) no-repeat center center;
}

nav li:nth-child(1):hover,
nav li:nth-child(1).on {
  background: url(../img/icon1_3.png) no-repeat center center;
}

nav li:nth-child(2) {
  background: url(../img/icon2_2.png) no-repeat center center;
}

nav li:nth-child(2):hover,
nav li:nth-child(2).on {
  background: url(../img/icon1_2.png) no-repeat center center;
}

nav li:nth-child(3) {
  background: url(../img/icon2.png) no-repeat center center;
}

nav li:nth-child(3):hover,
nav li:nth-child(3).on {
  background: url(../img/icon1.png) no-repeat center center;
}

nav li:nth-child(4) {
  background: url(../img/icon2_5.png) no-repeat center center;
}

nav li:nth-child(4):hover,
nav li:nth-child(4).on {
  background: url(../img/icon1_5.png) no-repeat center center;
}

@keyframes jelly {
  20% {
    transform: scaleY(1.1) scaleX(0.8);
  }

  40% {
    transform: scaleY(0.9) scaleX(1.1);
  }

  60% {
    transform: scaleY(1.05) scaleX(0.95);
  }

  80% {
    transform: scaleY(0.95) scaleX(1.05);
  }

  100% {
    transform: none;
  }
}

.logOutBtn {
  position: absolute;
  top: 10px;
  right: 16px;
  background: url(../img/icon2_4.png) no-repeat center center;
}

header .logOutBtn {
  margin-top: 0;
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

header .logOutBtn:hover {
  background: url(../img/icon1_4.png) no-repeat center center;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  background-size: 35px;
}




#sec1 {
  width: calc(100% - 132px);
  margin-left: 116px;
}

#sec1 article {
  height: 100%;
  min-height: calc(100vh - 96px);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  padding: 24px;
  display: none;
  transition: all 0.3s;
}

#sec1 article.on {
  display: block;
  animation: load2 0.4s 0.2s both;
  opacity: 0;
}

@keyframes load2 {
  from {
    transform: translateX(120px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.marketPrice {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 8px 16px;
}

.marketPrice > span:nth-child(2n) {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #aaa;
}

h1 {
  font-size: 32px;
  padding: 8px 0;
  font-weight: bold;
  color: #42137c;
}

form {
  margin-top: 24px;
  color: #42137c;
}

form > div {
  margin-top: 8px;
  padding-bottom: 16px;
  border-bottom: 1px dashed rgba(60, 32, 121, 0.3);
  margin-bottom: 24px;
}

.arti1 form > div:nth-child(3),
.arti2 form > div:nth-child(1),
.arti3 form > div:nth-child(3) {
  border-bottom: 0;
}

.arti1 > div {
  display: none;
}

.arti1 > div.on {
  display: block;
  animation: load2 0.4s 0.1s both;
  opacity: 0;
}

.arti1 .coinShiftBtn {
  display: block;
  font-size: 0;
  margin-bottom: 24px;
}

.coinShiftBtn button {
  font-size: 32px;
  padding: 16px 48px;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid #42137c;
  font-weight: bold;
  transition: all 0.3s;
}

.coinShiftBtn button:first-child {
  margin-right: 16px;
}

.coinShiftBtn button.on {
  background-color: #42137c;
  color: #fff;
  animation: blink 3s infinite linear;
}

.coinShiftBtn button:hover {
  background-color: rgba(60, 32, 121, 0.6);
  border: 2px solid rgba(60, 32, 121, 0.2);
  color: #fff;
}

@keyframes blink {
  40% {
    background-color: #42137c;
    border: 2px solid #42137c;
  }

  50% {
    background-color: rgba(60, 32, 121, 0.6);
    border: 2px solid rgba(60, 32, 121, 0.2);
  }

  60% {
    background-color: #42137c;
    border: 2px solid #42137c;
  }
}

.intop > div {
  padding: 8px;
  position: relative;
  width: 100%;
  max-width: 600px;
  background: #efefef;
  margin-bottom: 8px;
  border-radius: 4px;
}

.intop > div > span {
  position: absolute;
  bottom: 8px;
  right: 16px;
  padding: 8px 16px;
  color: #1bb1e7;
  font-weight: bold;
  letter-spacing: 0.1em;
}

label {
  display: block;
  color: #fff;
  padding: 8px 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background-color: #42137c;
  width: 100%;
  max-width: 400px;
  font-size: 12px;
  margin-bottom: 8px;
  border-radius: 4px;
}

input {
  width: 100%;
  padding: 8px 0;
  border: 0;
  outline: 0;
  text-align: center;
  font-size: 16px;
  padding-right: 60px;
  background: none;
  border-radius: 4px;
}

.intop .amt2 {
  background: none;
  background-color: rgba(27, 177, 231, 0.1);
}

.intop .amt2 input {
  font-size: 24px;
  font-weight: bold;
}

.intop .amt2 span {
  bottom: 12px;
}

.inbot input {
  padding: 16px;
  margin-bottom: 16px;
  background-color: #efefef;
}

.inbot div {
  width: 100%;
  padding: 16px;
  word-break: break-all;
  background: rgba(60, 32, 121, 0.1);
  text-align: center;
  border-radius: 4px;
}

.arti1 p {
  margin-bottom: 32px;
}

input[type='button'] {
  background-color: rgba(27, 177, 231, 0.6);
  border-radius: 4px;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  padding: 8px 0;
}

input[type='button']:hover {
  background-color: rgba(27, 177, 231, 1);
}

.arti2 label {
  margin-top: 16px;
}

.arti2 label:first-child {
  margin-top: 4px;
  ;
}

.arti2 div input {
  background: #efefef;
  margin-bottom: 4px;
  padding: 16px;
}

.arti3 form > div > input {
  padding: 16px;
  margin-bottom: 16px;
  background-color: #efefef;
}

h2 {
  margin-top: 24px;
  background-color: #555;
  color: #fff;
  border-radius: 4px 4px 0 0;
  padding: 8px 24px;
  font-weight: bold;
}

.table {
  position: relative;
  margin-top: 24px;
  border-top: 1px dashed rgba(60, 32, 121, 0.3);
}

.tabH {
  font-size: 0;
  border-top: 1px solid #fff;
}

.tabH > div {
  font-size: 16px;
  display: inline-block;
  text-align: center;
  padding: 4px;
  background-color: #999;
  color: #fff;
  border-right: 1px solid #fff;
}

.tabH > div:last-child {
  border-right: 0;
}

.tabB {
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

.tabB > div {
  font-size: 0;
  transition: all 0.2s;
}

.tabB > div > div {
  font-size: 16px;
  display: inline-block;
  text-align: center;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 16px;
}

.tabB > div:hover {
  background-color: #efefef;
}

.tabB::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
  background-color: #fff;
}

.tabB::-webkit-scrollbar {
  width: 2px;
  background-color: #999;
}

.tabB::-webkit-scrollbar-thumb {
  background-color: #999;
}

.tabF {
  height: 16px;
  width: 100%;
  background-color: #555;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #fff;
}

.arti3 .tabH > div {
  width: 20%;
}

.arti3 .tabH > div:nth-child(3) {
  width: 40%;
}

.arti3 .tabB > div > div {
  width: 20%;
}

.arti3 .tabB > div > div:nth-child(3) {
  width: 40%;
}

.arti1 .tabH > div {
  width: 20%;
}

.arti1 .tabH > div:nth-child(1) {
  width: 40%;
}

.arti1 .tabB > div > div {
  width: 20%;
}

.arti1 .tabB > div > div:nth-child(1) {
  width: 40%;
}

.gradenoti {
  font-size: 12px;
  background-color: #42137c;
  color: white;
  border-bottom: 0;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 180px;
}

.gradenoti img {
  height: 24px;
  vertical-align: bottom;
}

.gradeinfo {
  line-height: 40px;
  position: relative;
  font-size: 24px;
  font-weight: bold;
}

.gradeinfo:before {
  content: '';
  text-align: center;
  line-height: normal;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #42137c;
  border-radius: 4px;
  position: absolute;
  top: -5px;
  z-index: -1;
}

.gradeinfo span:first-child {
  margin-right: 8px;
  margin-left: 5px;
}

.ETHWLT > div {
  position: relative;
}

.ETHWLT input[type="text"] {
  padding: 16px;
  background-color: #efefef;
  border-radius: 4px;
  padding-right: 110px;
}

.ETHWLT input[type="button"] {
  width: auto;
  padding: 8px 16px;
  position: absolute;
  right: 8px;
  bottom: 8px;
  background-color: rgba(60, 32, 121, 0.7);
}

.ETHWLT input[type="button"]:hover {
  background-color: rgba(60, 32, 121, 1);
}

.ADDAT > div {
  padding: 16px;
  border-radius: 4px;
  background-color: rgba(27, 177, 231, 0.1);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.memberinfo {
  border-bottom: 0;
  position: relative;
}

.arti4 .tabH > div:nth-child(1),
.arti4 .tabB > div > div:nth-child(1),
.arti4 .tabH > div:nth-child(2),
.arti4 .tabB > div > div:nth-child(2) {
  width: 30%;
}

.arti4 .tabH > div:nth-child(3),
.arti4 .tabB > div > div:nth-child(3),
.arti4 .tabH > div:nth-child(4),
.arti4 .tabB > div > div:nth-child(4) {
  width: 20%;
}

.members {
  overflow: hidden;
  overflow-y: auto;
  height: 0px;
  transition: all 0.3s;
  animation: open2 0.5s both;
}

.memberinfo.on .members {
  animation: open 0.5s both;
}

@keyframes open {
  from {
    height: 0px;
  }

  to {
    height: 200px;
  }
}

@keyframes open2 {
  from {
    height: 200px;
  }

  to {
    height: 0px;
  }
}

.memberBtn {
  width: 100%;
  text-align: center;
  margin-top: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(27, 177, 231, 0.6);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.memberBtn:hover {
  background-color: rgba(27, 177, 231, 1);
}

.memberinfo.on .memberBtn:nth-child(2) {
  border-radius: 4px 4px 0 0;
}

.memberinfo.on .memberBtn:after {
  content: '';
  width: 100%;
  height: 8px;
  border-radius: 0 0 4px 4px;
  background-color: rgba(27, 177, 231, 0.6);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: all 0.3s;
}

.memberinfo.on .memberBtn:hover:after {
  background-color: rgba(27, 177, 231, 1);
}

.members span {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-right: 8px;
  font-size: 12px;
}

#copy_div {
  position: relative;
}

#copy_div button {
  position: absolute;
  right: 16px;
  top: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: rgba(27, 177, 231, 0.6);
  color: #fff;
  transition: all 0.3s;
}

#copy_div button:hover {
  background-color: rgba(27, 177, 231, 1);
}

footer {
  width: 100%;
  margin-top: 8px;
  padding: 8px 32px;
  text-align: right;
  color: #efefef;
  font-size: 12px;
}

@media all and (max-width:1200px) {
  .tabH {
    display: none;
  }

  .tabB > div {
    position: relative;
    padding: 8px;
  }

  .tabB > div:nth-child(2n) {
    background-color: #f9f9f9;
  }

  .tabB > div > div {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0;
  }

  .arti3 .tabB > div > div:nth-child(1),
  .arti1 .tabB > div > div:nth-child(1) {
    font-size: 12px;
    font-weight: bold;
    width: calc(100% - 120px);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .arti3 .tabB > div > div:nth-child(3),
  .arti1 .tabB > div > div:nth-child(2) {
    width: 100%;
    text-align: right;
  }

  .tabB > div > div:last-child {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: auto;
    font-size: 12px;
    font-weight: bold;
  }

  .arti1 .tabB > div > div:nth-child(3) {
    position: static;
    width: 100%;
    bottom: 4px;
    left: 8px;
    font-size: 10px;
  }

  .arti3 .tabB > div > div:nth-child(2) {
    position: absolute;
    bottom: 8px;
    font-size: 14px;
    font-weight: bold;
  }

  .arti4 .tabB > div > div:nth-child(1) {
    width: calc(100% - 120px);
  }

  .arti4 .tabB > div > div:nth-child(2) {
    text-align: right;
    width: auto;
  }

  .arti4 .tabB > div > div:nth-child(3) {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 12px;
    font-weight: bold;
  }

  .arti4 .tabB > div > div:nth-child(4) {
    width: auto;
  }

}

@media all and (max-width:767px) {

  header > div {
    font-size: 12px;
  }

  #wrap {
    padding-top: 88px;
    padding-bottom: 88px;
  }

  nav {
    width: 100%;
    height: 72px;
    background-color: #170a3d;
    padding: 16px;
  }

  #wrap nav li,
  header .logOutBtn {
    width: 40px;
    height: 40px;
    margin: 0 auto;

    display: inline-block;
    border-radius: 10px;
    background-size: 20px;
  }

  #wrap nav li:hover,
  header .logOutBtn:hover {
    background-size: 30px;
  }

  #wrap nav {
    font-size: 0;
  }

  #wrap nav li {
    margin: 0 calc((100% - 160px) / 8);
  }

  @keyframes load {
    from {
      transform: translateY(-60px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  #sec1 {
    width: 100%;
    margin-left: 0;
  }

  #sec1 article {
    padding: 8px;
  }

  .marketPrice > span {
    display: block;
  }

  .arti4 form {
    margin-top: 0;
  }

  .gradenoti {
    position: static;
    width: 100%;
  }

  footer {
    padding: 8px;
  }
}
